In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [14]:
'''
1.
인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)
'''
list(df.groupby("channelTitle").count().sort_values("title", ascending=False).head(10).index)

['짤툰',
 '파뿌리',
 'SPOTV',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 '장삐쭈',
 'BANGTANTV',
 '채널 십오야',
 '이과장',
 '총몇명']

In [4]:
'''
2.
논란으로 인기동영상이 된 케이스를 확인하고 싶다. 
dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라
'''
list(df[df["dislikes"] > df["likes"]]["channelTitle"].unique())

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

In [5]:
'''
3.
채널명을 바꾼 케이스가 있는지 확인하고 싶다. 
channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라
'''
ans3 = list()
channelId_uniqueness = df.groupby("channelId")["channelTitle"].nunique()
print(type(channelId_uniqueness))
for index, value in zip(channelId_uniqueness.index, channelId_uniqueness):
    if (value == 1):
        continue
    ans3.append(index)

len(ans3)

<class 'pandas.core.series.Series'>

71

In [26]:
'''
4.
일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?
'''
df["trending_date_new"] = pd.to_datetime(df["trending_date2"])
# df[df["trending_date_new"].dt.day_name() == "Sunday"].groupby("categoryId").count().sort_values("title", ascending=False).index[0]
# print(df[df["trending_date_new"].dt.day_name() == "Sunday"].categoryId.head())
df[df["trending_date_new"].dt.day_name() == "Sunday"].categoryId.value_counts().index[0]

400    24
401    22
402    10
403    24
404    24
Name: categoryId, dtype: int64

24

In [27]:
'''
5.
각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라
'''
df5 = df[["trending_date_new", "categoryId"]].copy()
df5_new = pd.DataFrame()
day_list = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for day in day_list:
    df5_new[day] = df5[df5["trending_date_new"].dt.day_name() == day].groupby("categoryId").size()

df5_new

            Sunday  Monday  Tuesday  Wednesday  Thursday  Friday  Saturday
categoryId
1              274     263      257        234       246     243       255
2               99     105      119        129       128     120       119
10             830     837      894        917       890     833       776
15             217     215      208        207       207     187       198
17             636     668      708        706       682     633       592
19              91      92       89         85        92      90        87
20             289     298      285        291       282     283       296
22            1337    1373     1375       1333      1341    1288      1289
23             556     594      569        566       560     568       570
24            3096    3148     3084       3090      2954    2976      3066
25             437     453      452        468       470     444       422
26             363     378      394        385       375     369       364
27             199     205      194        212       194     183       183
28             167     160      161        165       166     171       173
29               9      10       11         12        13      12        10

In [33]:
# 5 답안
group = df.groupby([df['trending_date_new'].dt.day_name(),'categoryId'],as_index=False).size()
#group
answer= group.pivot(index='categoryId',columns='trending_date_new')
display(answer)

                    size
trending_date_new Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                    243    263      255    274      246     257       234
2                    120    105      119     99      128     119       129
10                   833    837      776    830      890     894       917
15                   187    215      198    217      207     208       207
17                   633    668      592    636      682     708       706
19                    90     92       87     91       92      89        85
20                   283    298      296    289      282     285       291
22                  1288   1373     1289   1337     1341    1375      1333
23                   568    594      570    556      560     569       566
24                  2976   3148     3066   3096     2954    3084      3090
25                   444    453      422    437      470     452       468
26                   369    378      364    363      375     394       385
27                   183    205      183    199      194     194       212
28                   171    160      173    167      166     161       165
29                    12     10       10      9       13      11        12

In [35]:
''' 
6. 
댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. 
viewcount대비 댓글수가 가장 높은 영상을 확인하라 
(view_count값이 0인 경우는 제외한다)
'''
df6 = df[df["view_count"] > 0].copy()
df6["ans6"] = df6["comment_count"]/df6["view_count"]
df6_1 = df6.sort_values("ans6", ascending=False)
df6_1.iloc[0]["title"]

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [38]:
''' 
7.
댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.
viewcount대비 댓글수가 가장 낮은 영상을 확인하라 
(view_counts, ratio값이 0인경우는 제외한다.)
'''
df6_2 = df6[df6["ans6"] != 0].copy()
df6_2 = df6_2.sort_values("ans6")
df6_2.iloc[0]["title"]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [121]:
''' 
8.
like 대비 dislike의 수가 가장 적은 영상은 무엇인가? 
(like, dislike 값이 0인경우는 제외한다)
'''
df8 = df[(df["likes"] != 0) & (df["dislikes"] != 0)].copy()
df8["ans8"] = df8["dislikes"] / df8["likes"]
df8.sort_values("ans8").iloc[0]["title"]

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

In [46]:
''' 
9.
가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? 
(날짜기준, 중복포함)
'''
print(df.groupby("channelTitle").size().sort_values(ascending=False).index[0])
print(df.channelTitle.value_counts().index[0])

짤툰
짤툰

In [56]:
''' 
10.
20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?
'''
# 데이터를 분석할 때는, 고유값(여기서는 channelId)을 항상 붙여서 관리할 것
srs10 = df[["title", "channelId"]].value_counts()
srs10[srs10 >= 20].size

40

In [151]:
#이게정답이긴함
answer= (df[['title','channelId']].value_counts()>=20).sum()
answer

40